*{
    font-family: 'Poppins', sans-serif;
    cursor: default;
    overflow-x: hidden;
}
.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-2r{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.oculto{
    opacity: 0;
}
.fuera{
    position: absolute;
    display: flex;
transform: translateX(-200%);
}
.fueraD{
    position: absolute;
    display: flex;
transform: translateX(200%);
}
.activoA{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 7px;
}
header{
    text-align: center;
}
header img{
    width: 100px;
}
header .grid-3 a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    margin-left: 35%;
    border-bottom: 1px solid transparent;
   transition: border 1s;
}
header a:hover{
    border-bottom: 1px solid black;
}

/* Body */
main{
    background-color: #ff7f50;
    padding-top: 20px;padding-bottom: 20px;
    text-align: center;
    height: 80vh;
    padding-bottom: 50px; 
    border-bottom-left-radius:7px ;
    border-bottom-right-radius:7px ;   
}
main h3{
    cursor: default;
}
main .noSesion a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 10px;
    transition: border 0.3s,  border-radius 0.5s, background-color 0.5s, padding 0.5s;
}   
main .noSesion a:hover{
    padding: 5px;
    border: 1px solid black;
    border-radius: 7px;
  
}
main .noSesion a:active {
    background-color: #ffffff;
}
main .noSesion .grid-2r{
   width: 30%;
   margin-left: 35%;
    
}
.resumen{
    transition: opacity 1s ease, transform 1s ease;
}
.resumen li{
    list-style: none;
    margin: 10px;
    margin-top: 50px;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}
#resumen li img{
    width: 300px;
    border-radius: 7px
}
#resumen li p{
    margin-top:-20px;
}
.visible{
    opacity: 1;
    transform: translateY(0);
}
.song {
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
}
.song:hover{
    transform: translateY(-10px);
    border-bottom: 1px solid black;
    
}
.song1{
   order: 0;
   transform: translateY(-50px);
} 
.song1:hover{
    transform: translateY(-60px);
}
.song3{
    order: -1;
}      
